#machine-status-dashboard {
    height: 100%;
    width: 100%;
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
}

.status-indicator {
    width: 25px;
    height: 25px;
    margin: 10px;
    border-radius: 2px;
    background: limegreen;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    color: white;
}