#passport-view {
    border: solid darkblue;
    border-radius: 2px;

    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-width: 1px 1px 1px 5px;
}