#status {
    height: auto;
    width: 100%;
    display: flex; /* or inline-flex */
    flex-direction: column;
    flex-wrap: wrap;
}

#problem-status-dashboard {
    height: auto;
    overflow: scroll;
    padding: 10px;
}

.problem-indictor {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #000;
    margin: 1px;
}