.bold {
    font-weight: bold;
}

.time {
    position: absolute;
    left: -160px;
}

#timeline {
    height: 50%;
}

.timeline-wrapper {
    padding-left: 120px;
    min-width: 400px;
    font-family: 'Helvetica';
    font-size: 14px;
    height: 100%;
    overflow: scroll;
    /*border: 1px solid #CCC;*/
}

.StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
}

.StepProgress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #CCC;
}

.StepProgress-item {
    position: relative;
    counter-increment: list;
}

.StepProgress-item:not(:last-child) {
    padding-bottom: 20px;
}

.StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
}

.StepProgress-item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -37px;
    width: 12px;
    height: 12px;
    border: 2px solid #CCC;
    border-radius: 50%;
    background-color: #FFF;
}

.StepProgress-item.is-done::before {
    border-left: 2px solid darkblue;
}

.StepProgress-item.is-done::after {
    /*content: "?";*/
    font-size: 10px;
    color: #FFF;
    text-align: center;
    border: 2px solid darkblue;
    background-color: darkblue;
}

.StepProgress-item.urgency-0::before {
    border-left: 2px solid #008b00;
}

.StepProgress-item.urgency-0::after {
    /*content: "+";*/
    font-size: 10px;
    color: #FFF;
    text-align: center;
    border: 2px solid #008b00;
}

.StepProgress-item.urgency-1::before {
    border-left: 2px solid orange;
}

.StepProgress-item.urgency-1::after {
    /*content: "+";*/
    font-size: 10px;
    color: #FFF;
    text-align: center;
    border: 2px solid orange;
}

.StepProgress-item.urgency-2::before {
    border-left: 2px solid red;
}

.StepProgress-item.urgency-2::after {
    /*content: "+";*/
    font-size: 10px;
    color: #FFF;
    text-align: center;
    border: 2px solid red;
}


/*.StepProgress-item.urgency-0 {*/
    /*!*content: "+";*!*/
    /*background: #d3d3d3;*/
    /*width: auto;*/
    /*display: inline-block;*/
    /*padding: 5px;*/
/*}*/

/*.StepProgress-item.current::before {
border-left: 2px solid green;
}
.StepProgress-item.current::after {
content: counter(list);
padding-top: 1px;
width: 19px;
height: 18px;
top: -4px;
left: -40px;
font-size: 14px;
text-align: center;
color: green;
border: 2px solid green;
background-color: white;
}*/
.StepProgress strong {
    display: block;
}
