<link rel="stylesheet" href="{{ url_for('static', filename='clusters.css') }}">

<h3> Current activity </h3>

<div id="notifications">
    <div class="alert-box error"><span>10 FAILURES: </span> Attention required at machines
        <b>5, 10, 13, 14, 15, 19, 20, 21, 25, 30, 35, 40, 45, 50. </b></div>
    {#<div class="alert-box success"><span>success: </span>Write your success message here.</div>#}
{#    <div class="alert-box warning"><span>warning: </span>Write your warning message here.</div>#}
    {#<div class="alert-box notice"><span>notice: </span>Write your notice message here.</div>#}
</div>
