<!DOCTYPE html>
<html>
<head>
    <title>Digital Twin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Fjalla:400,800" rel="stylesheet" type="text/css"/>
    {#    <script src="{{ url_for('static', filename='jquery.js') }}" type="text/javascript"></script>#}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
      url_for('static', filename='jquery.js') }}">\x3C/script>')</script>


</head>
<body>
<div class="header">
    <h1> MIRROR</h1>
</div>
<div id="main-container">
    <div class="dash-column" id="left-column">
        <h2> Settings & Tools </h2>
    </div>

    <div class="dash-column" id="middle-column">
        <h2> General overview </h2>
        <div class="widget" id="status">
            {% include 'problem_status.html' %}
        </div>
        <div class="widget" id="clusters">
            <h3> Cluster view</h3>
        </div>
    </div>

    <div class="dash-column" id="right-column">
        <h2> Machine specs </h2>
        <div class="widget" id="timeline">
            {% include 'timeline.html' %}
        </div>
{#        <div class="widget" id="attribute-view">#}
{#            <h3> Attribute view </h3>#}
{#        </div>#}
        <div class="widget" id="passport">
            {% include 'passport.html' %}
        </div>

    </div>
    <div class="dash-column" id="footer">
        {% include 'machine_status.html' %}
    </div>
</div>
</body>
</html>