<link rel="stylesheet" href="{{ url_for('static', filename='machine_status.css') }}">
<div class="title">
    <h2> Machine status </h2>
</div>
<div id="machine-status-dashboard">

    {% for n in range(1,11) %}
        <div class="machinelijn" id="lijn-{{ n }}" data-line="{{ n }}">

            <h3>{{ toLetter[n] }}</h3>
            {% for machine in machinepassports %}
                {#                {% let machinetimestamps = timestamps[machine["ID"]] %}#}
                {% if machine["Type"] == toLetter[n] %}
                    <div class="status-indicator" id="indicator-{{ machine["ID"] }}" data-id="{{ machine["ID"] }}"
                         data-passport='{{ machine | tojson }}'
                         data-timestamps='{{ timestamps[machine["ID"]] | tojson }}'>

                        {#                         data-passport='{{ machine | tojson }}' data-timestamps='{{ machinetimestamps | tojson }}'>#}
                        {% if machine['Problem']!="" %}
                            <script>
                                $('#indicator-{{ machine["ID"] }}').addClass('outlier');
                                $('#indicator-{{ machine["ID"] }}').css('background-color', 'red');
                            </script>
                        {% elif machine['Warning']!="" %}
                            <script>
                                $('#indicator-{{ machine["ID"] }}').addClass('outlier');
                                $('#indicator-{{ machine["ID"] }}').css('background-color', 'orange');
                            </script>
                        {% endif %}
                        {{ machine["ID"] }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

</div>

<script>
    $(".status-indicator").on('click', function () {

        // Add passport.................

        var passport_json = $(this).data('passport');
        {#        var timestamps_json = $(this).data('timestamps');#}

        $("#passport-view").html(
            "ID: " + passport_json["ID"] + '<br>' +
            "Type: " + passport_json["Type"] + '<br>' +
            "Hardware version: " + passport_json["Hardware version"] + '<br>' +
            "Software version: " + passport_json["Software version"] + '<br>' +
            "Manufacturer: " + passport_json["Manufacturer"] + '<br>' +
            "Company: " + passport_json["Company"] + '<br>' +
            "Location: " + passport_json["Location"] + '<br>' +
            "Date manufactured: " + passport_json["Date manufactured"] + '<br>' +
            "Date bought: " + passport_json["Date bought"] + '<br>'
        );
        $("#passport-view").data('current-id', passport_json["ID"]);

        // Add timeline................

        $(".StepProgress").html("");

        var timestamps_json = $(this).data('timestamps');

        var messages = ['Problem X has been solved', 'A risk X has been detected', 'Machine suffers from problem X']

        for (var i = 0; i < timestamps_json.length; i++) {
            $(".StepProgress").append("                    <li class=\"StepProgress-item urgency-" + timestamps_json[i][1] + " \">\n" +
                "                        <div class=\"bold time\"> " + timestamps_json[i][0] + " </div>\n" +
                "                        <div class=\"bold\">" + messages[timestamps_json[i][1]] + "</div>\n" +
                "                    </li>\n"
            );
        }

        $('.StepProgress').scrollTop($('.StepProgress')[0].scrollHeight);

        $('#notifications').html("");

        problems = passport_json["Problem"].split(",")
        warnings = passport_json["Warning"].split(",")

        ptype = ['Overheating', 'Wear&Tear', 'Oil level', 'Electrical', 'Panic Button Pressed', 'Resource Supply', 'Blockage', 'Human Error', 'Rust', 'Software Error',
            'Sensor Error', 'Misalignment']

        console.log("Machine " + passport_json["ID"])
        console.log("Problems: ")
        console.log(problems)
        console.log("Warnings:")
        console.log(warnings)

        problems.forEach(function (problem) {
            if (problem != "") {
                $('#notifications').append("     <div class=\"alert-box error\"><span>Problem detected: </span> This machine likely has the following problems:" +
                    ptype[parseInt(problem) - 1] + "</div>\n ")
            }
        });

        warnings.forEach(function (warning) {
            if (warning != "") {
                $('#notifications').append("     <div class=\"alert-box warning\"><span>Problem detected: </span> This machine likely has the following problems:" +
                    ptype[parseInt(warning) - 1] + "</div>\n ")
            }
        });

    });

    $(".machinelijn").on('click', function () {
        $(".clicked").removeClass('clicked');
        $(this).addClass('clicked');
        var line = $(this).data('line')
        $("#problem-status-table").data('selected-line', line)
        ids = {{ ids_per_cluster }}
            console.log(ids[line][0])
    });


</script>
