<link rel="stylesheet" href="{{ url_for('static', filename='machine_status.css') }}">
<div class="title">
    <h2> Machine status </h2>
</div>
<div id="machine-status-dashboard">

    {% for n in range(1,10) %}
        <div class="machinelijn" id="lijn-{{ n }}">

            <h3>{{ toLetter[n] }}</h3>
            {% for machine in machinepassports %}
                {% let machinetimstamps = timestamps[machine["ID"]] %}
                {% if machine["Type"] == toLetter[n] %}
                    <div class="status-indicator" id="indicator-{{ machine["ID"] }}"
                         data-passport='{{ machine | tojson }}' data-timestamps='{{ machinetimestamps | tojson }}'>
                        {% if outliers[machine["ID"]] %}
                            <script>
                                $('#indicator-{{ machine["ID"] }}').css('background-color', 'red');
                            </script>
                        {% endif %}
                        {{ machine["ID"] }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

</div>

<script>
    $(".status-indicator").on('click', function () {
        var passport_json = $(this).data('passport');
        var timestamps_json = $(this).data('timestamps');

        $("#passport-view").html(
            "ID: " + passport_json["ID"] + '<br>' +
            "Type: " + passport_json["Type"] + '<br>' +
            "Hardware version: " + passport_json["Hardware version"] + '<br>' +
            "Software version: " + passport_json["Software version"] + '<br>' +
            "Manufacturer: " + passport_json["Manufacturer"] + '<br>' +
            "Company: " + passport_json["Company"] + '<br>' +
            "Location: " + passport_json["Location"] + '<br>' +
            "date manufactured: " + passport_json["date manufactured"] + '<br>' +
            "date bought: " + passport_json["date bought"] + '<br>'
        );
        $("#passport-view").data('current-id', passport_json["ID"]);

        $(".StepProgress").html("");

        for (timestamp in timestamps_json) {
            $(".StepProgress").append("                    <li class=\"StepProgress-item is-done\">\n" +
                "                        <div class=\"bold time\"> " + timestamp[0] + " </div>\n" +
                "                        <div class=\"bold\">" + timestamp[1] + "</div>\n" +
                "                    </li>\n"
            );
        }
    });

    $(".machinelijn").on('click', function () {
        $(".clicked").removeClass('clicked');
        $(this).addClass('clicked');
    });

</script>
