<link rel="stylesheet" href="{{ url_for('static', filename='problem_status.css') }}">

<h3>Problem status</h3>
<div id="problem-status-dashboard">
    <table id="problem-status-table" data-selected-line="1">
        {% set labels = {1:'Overheating', 2:'Wear&Tear', 3:'Oil level', 4:'Electrical',
                        5:'Panic button pressed', 6:'Resource Supply', 7:'Blockage', 8:'Human Error',
                        9:'Rust', 10:'Software Error', 11:'Sensor Error', 12:'Misalignment'} %}

        <tr>
            <th>
                {% for machine in machinepassports %}
                    <th data-line="{{ machine["Type"] }}">{{ machine["ID"] }}</th>
                {% endfor %}
            </th>
        </tr>
        {% for num, label  in labels.items() %}
            <tr>
                <td>{{ label }}</td>
                {% for machine in machinepassports %}

{#                    <script>#}
{#                        passport_json = {{ machine }}#}
{#                        problems = passport_json["Problem"].split(",")#}
{#                        warnings = passport_json["Warning"].split(",")#}
{#                    </script>#}

                    <td>

                        {% if num|string in machine['Warning'] %}

                            <div class="problem-indictor" id="problem-{{ key }}{{ machine["ID"] }}"
                                 data-line="{{ machine["Type"] }}" data-label="{{ num }}"
                                 data-machineid="{{ machine["ID"] }}" data-color="orange"></div>

                        {% elif num|string in machine['Problem'] %}

                            <div class="problem-indictor" id="problem-{{ key }}{{ machine["ID"] }}"
                                 data-line="{{ machine["Type"] }}" data-label="{{ num }}"
                                 data-machineid="{{ machine["ID"] }}" data-color="red"></div>

                        {% else %}

                            <div class="problem-indictor" id="problem-{{ key }}{{ machine["ID"] }}"
                                 data-line="{{ machine["Type"] }}" data-label="{{ num }}"
                                 data-machineid="{{ machine["ID"] }}" data-color="green"></div>

                        {% endif %}

                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
</div>

<script>
    var selected_line = $('#problem-status-table').data('selected-line')
    console.log("Selected line: " + selected_line)
    var selected_line_type = 'ABCDEFGHIJKLM'.charAt(selected_line)
    console.log("Selected line: " + selected_line_type)
    console.log({{ ids_per_cluster }})

    var colors = ['green', 'green', 'green', 'green', 'green', 'orange', 'orangered', 'red'];
    $('.problem-indictor').each(function (index, value) {
        acolor = $(this).data('color')
        $(this).css('background-color', acolor)
    })


</script>