<h3> Settings and tools</h3>


<ul>
    <li>Add machine</li>
    <li>Display mode</li>
    <li>Add maintanance report</li>
    <li>Help</li>
    <li>Print</li>
    <li>Log out</li>
    <li>Exit</li>
</ul>

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
    }

    li {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    li.active {
        background-color: #4CAF50;
        color: white;
    }

    li:hover:not(.active) {
        background-color: #555;
        color: white;
    }
</style>
