<link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}">

<div class="timeline-wrapper">
    <ul class="StepProgress">
        {% for timestamp in timestamps %}
                    <li class="StepProgress-item is-done">
                        <div class="bold time">timestamp</div>
                        <div class="bold">Step 1</div>
                    </li>
            {#        <li class="StepProgress-item is-done">#}
            {#            <div class="bold time">11:00:00</div>#}
            {#            <div class="bold">Step 2</div>#}
            {#            <div>Post a contest</div>#}
            {#        </li>#}
            {#        <li class="StepProgress-item current">#}
            {#            <div class="bold time">12:00:00</div>#}
            {#            <div class="bold">Step 3</div>#}
            {#        </li>#}
            {#        <li id="NewTimelineItem" class="StepProgress-item new">#}
            {#            Click to add new item#}
            {#        </li>#}
        {% endfor %}
    </ul>

</div>

<script>
    $('#NewTimelineItem').on('click', function () {
        $('<li class="StepProgress-item current">\n' +
            '            <div class="bold time">' + new Date().toLocaleTimeString() +
            ' </div>\n' +
            '            <div class="bold">New item</div>\n' +
            '        </li>').insertBefore(this);
    });
</script>
