<link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}">

<div class="timeline-wrapper">
    <ul class="StepProgress">
{#        Deze wordt ingevuld met jQuery vanuit machine_status.html#}
    </ul>

</div>

<script>
    $('#NewTimelineItem').on('click', function () {
        $('<li class="StepProgress-item current">\n' +
            '            <div class="bold time">' + new Date().toLocaleTimeString() +
            ' </div>\n' +
            '            <div class="bold">New item</div>\n' +
            '        </li>').insertBefore(this);
    });
</script>
